:host {
    display: inline-block;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 20px;
    width: 300px;
    margin: 30px;
    text-align: center;
}

:host(.active) {
    border: 3px solid blue;
    padding: 18px;

}